.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0b7b9a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* layout for application */
.main{
  display: flex;
  background-color:#81A594;
  /* background-color: blue; */



}

.main1{
  display: flex;
  /* background-color: green; */

}

.navvv {
  /* background-color: red; */
  /* background-color: white; */
  width: 14%
}

.navvv1 {
  /* background-color: red; */
  /* background-color: #E6E6DC; */
  width: 5%;
  /* height: -1px; */

}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  #81A594;
  /* background:  #E6E6DC; */
  width: 104% 
}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background:  #81A594; */
  position: relative;
  /* background:  #E6E6DC; */
  width: 95% 
}

.content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background:  #81A594; */
  position: relative;
  /* background:  #E6E6DC; */
  width: 35% 
}


.container {
  display: flex;
  flex-direction: row;
}

/* .column {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
} */


.containera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.rowa {
  display: flex;
  flex-direction: column;
}

